[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
pypdf = "*"
transformers = "*"
openai = "*"
pandas = "*"
pydantic = "*"
uvicorn = "*"
scikit-learn = "*"
gunicorn = "*"
python-dotenv = "*"
spacy = "==3.7.1"

[dev-packages]

[requires]
python_version = "3.10"
