[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pandas = "*"
uvicorn = "*"
requests = "*"
pypdf = "*"
transformers = "*"
python-dotenv = "*"
openai = "*"
scikit-learn = "*"
sklearn = "*"
spacy = "==3.7.1"
cosine-similarity = "*"
tiktoken = "*"
python-multipart = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10.12"

[pipenv]
allow_prereleases = true
